.subscribe-letter {
    border-radius: 50px;
    color: white;
    background-image: url("../../opaque.png"), linear-gradient(280deg, #B90D8E, #110A3E);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -8.5rem;
    z-index: 0;
    width: 100%;
    max-width: 63rem;
    /* opacity: 0.3; */
}

.subscribe-letter .subscribe-heading {
    font-weight: 500;
    font-size: 3.5rem;
    font-family: Rubik;
}

.subscribe-letter .subscribe-text {
    font-size: 1.5rem;
    font-family: Rubik;
    max-width: 39rem;
    width: 100%
}

.subscribe-letter .subscribe-button {
    margin: 1rem 0 1rem 0;
    width: 206px;
    border-radius: 26px;
    padding: 0.25rem;
    font-size: 20px;
    font-weight: 500;
    color: #492477;
    border: none;
}
.subscribe-letter .subscribe-button:focus {
    outline: none;
    box-shadow: none;
}
.subscribe-letter input:focus{
    outline: none;
    box-shadow: none;
}

@media only screen and (min-device-width:2500px) {
    .subscribe-letter {
        max-width: 99rem;
        padding-left: 17rem;
        padding-right: 17rem;
    }
}

@media only screen and (min-device-width:2000px) and (max-device-width: 2500px) {
    .subscribe-letter {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media only screen and (max-device-width:1440px) and (max-device-width:1280px) {
    .subscribe-letter .text {
        width: 60vw;
    }
}

@media only screen and (max-device-width: 760px) and (max-device-width) {
    .subscribe-letter {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 480px) {
    /* .subscribe-letter {
        margin-left: 1.5rem;
        margin-right: 2rem;
        max-width: 20rem;
        padding-left: 5rem;
        padding-right: 5rem;
    } */
    .subscribe-letter .subscribe-heading{
        font-size: 3.03rem;
    }
    .subscribe-letter .subscribe-text{
        font-size:1.05rem;
        max-width: 30rem;
    }
}