.signin-form {
    color: white;
    z-index: 0;
    max-width: 100%;
}

.signin-form form {
    width: 100%;
    max-width: 40rem;
}

.signin-form .signin-heading {
    text-align: center;
    font: "normal normal medium 5rem Rubik"
}

.signin-form .para {
    max-width: 37rem;
    font-size: 1.35rem;
    font-family: Rubik;
    width: 100%;    
    font-weight: lighter;


}
.signin-form .signin-button {
    text-align: center;
    border: 3px solid #FFFFFF;
    padding: 0.35rem 2rem;
    font-weight: 500;
    font: normal normal medium 1.938rem Rubik;
    color: #492477;
    border-radius: 17px;
    margin-top: 1.5rem;

   
}

.signin-form .signin-button:focus{
    outline: none;
    box-shadow: none;
}
.signin-form .last-para {
    margin-top: 2rem
}

.signin-form .fpl-email {
    width: 100%;
    max-width: 30rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    border: 2px solid #FFFFFF;
    background: transparent;
    border-radius: 17px;
}
.signin-form .fpl-email:focus{
    outline: none;
    box-shadow: none;
}
.modal-body button:focus{
    outline: none;
    box-shadow: none;
}
@media only screen and (min-device-width: 1280px) and (max-device-width: 1440px) {
    .signin-form.last-para {
        margin-top: 0.5rem;
    }
    .signin-form .para {
        max-width: 37rem;
        font-size: 1.35rem;
        font-family: Rubik;
        width: 100%;
        font-weight: lighter;
    
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .signin-form .para {
        width: 75%
    }
}

@media only screen and (max-device-width: 767px) {
    .w-md-100 {
        width: 100%!important;
    }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 480px) {
    .signin-form {
        top: 20%
    }
    .signin-form .para {
        font: normal normal 300 0.8rem Rubik;
        width: 100%;
    }
}