.stakes-card {
    width: 100%;
    margin-top: -9rem
}

.stake-parent #bg {
    background: #E4F0F9B0;
    margin-top: 5rem;
    padding: 7rem 6rem 10rem 6rem;
    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    z-index: -1
}

.stakes-card .div1-stake:nth-child(odd) {
    background-color: #1D2786;
    border-radius: 50px;
    opacity: 1;
    padding: 2rem;
    color:#3A4EFF;
    font-family: Rubik;
    margin-right: 1rem;
    box-shadow: -3px 14px 52px -6px rgba(59, 57, 59, 1);
    overflow: hidden;
    position:relative
}
.stakes-card .div1-stake:nth-child(even) {
    font-family: Rubik;
    background-color: #355EFF;
    border-radius: 50px;
    opacity: 1;
    padding: 2rem;
    color: #6ABCFF;
    margin-right: 1rem;
    box-shadow: -3px 14px 52px -6px rgba(59, 57, 59, 1);
    overflow: hidden;
    position:relative
}
.stakes-card .div1-stake:last-child(){
    width:"90vh"
}
.stakes-card .div1-stake:nth-child(odd) .child1-stake {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #3A4EFF;
    top: -6%;
    left: 30%;
}
.stakes-card .div1-stake:nth-child(even) .child1-stake {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #6ABCFF ;
    top: -6%;
    left: 30%;
}

.stakes-card .div1-stake:nth-child(odd) .child2-stake {
    position: absolute;
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    border: 60px solid #3A4EFF;
    top: -13%;
    left: 48%;
}

.stakes-card .div1-stake:nth-child(even) .child2-stake {
    position: absolute;
    width: 19rem;
    height:19rem;
    border-radius: 50%;
    border: 60px solid #6ABCFF;
    top: -13%;
    left: 48%;
}
 .div1-stake .prize-amount{
    font-size: 2rem;
    font-family:  Rubik;
    font-weight: normal;
    font-style: normal;
    
}
.div1-stake  .prize{
    font-size: 2rem;
    font-family:  Rubik;
    font-weight: normal;
    font-style: normal;
    
}
.div1-stake .get-started {
    font-family: Rubik;
    font-size: 1.02rem;
    font-weight: lighter;
}
.div1-stake .prize-heading {
    font-family: Rubik;
    font-size: 3.7rem;
    font-weight: 500;
}
